<h3>
  <%= @post.title %>
</h3>
<em>
  Written by <%= mail_to @author.email, @author.username %>
</em>
|
<%= @post.view_count %> views
[<%= link_to "edit", edit_blog_path(@post) %>]
[<%= link_to "delete", @post, method: :delete, data: {confirm: "Are you sure? Deleting a post cannot be undone."} %>]
<br />
<br />
<%= @post.body.gsub(/\n/, "<br />") %>
<br />
<br />
<hr>
<%= render "comment_form" %>
<hr>
<% indent_hash = {} %>
<% indent_multiplier = 0 %>
<% @comments.each do |comment| %>
<% if !comment.nested %>
<% indent_multiplier = 0 %>
<% elsif !indent_hash[comment.parent].nil? %>
<% indent_multiplier = indent_hash[comment.parent] %>
<% else %>
<% indent_multiplier += 1 %>
<% indent_hash[comment.parent] = indent_multiplier %>
<% end %>

<div style="margin-left: <%= indent_multiplier * 25 %>px">
<a href="mailto:<%= comment.email %>"><%= comment.author %></a> says:<br />
<%= comment.body.gsub(/\n/, "<br />") %>
</div>

<hr>
<% end %>